body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.content .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 149px 0px 149px;
}

.content .navbar .space {
  width: 822.36px;
}

.content .navbar .nav-item a {
  font-size: 24px;
  color: black;
}

.content .navbar .nav-item .active {
  font-size: 16px;
  font-weight: 700;
}

.content .navbar .navbar-nav {
  width: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main_content .info {
  padding-top: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .main_content .info h1 {
  font-size: 120px;
}

.content .main_content .info p {
  margin-top: 28px;
  font-size: 38px;
}

.content .main_content .info .cmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .main_content .info .cmn .active {
  color: blue;
}

.content .main_content .email {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .main_content .email .email-addr {
  color: #ff9D9D9D;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  width: 412px;
  border: 1px solid black;
  border-radius: 3px 0px 0px 3px;
  font-size: 20px;
}

.content .main_content .email .search {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  width: 256.77px;
  background: black;
  border-radius: 0px 5px 5px 0px;
  font-size: 21px;
}

.content .description {
  padding-top: 402px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .description .space_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .description .space_intro p {
  color: black;
  font-size: 36px;
}

.content .description .space_intro p mark {
  background-color: yellow;
}

.content .description .space_intro p b {
  font-weight: 500;
}

.content .description .section_two {
  margin-top: 203px;
}

.content .description .section_two .col1, .content .description .section_two .col {
  height: 351px;
  width: 656px;
  margin-bottom: 14px;
  border-radius: 10.86px;
}

.content .description .section_two .col1 .space_specification, .content .description .section_two .col .space_specification {
  padding: 79px 66px 0px 45px;
}

.content .description .section_two .col1 .space_specification .icon, .content .description .section_two .col .space_specification .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.content .description .section_two .col1 .space_specification .icon .channel, .content .description .section_two .col .space_specification .icon .channel {
  height: 58px;
  width: 64px;
}

.content .description .section_two .col1 .space_specification .icon .doc, .content .description .section_two .col .space_specification .icon .doc {
  height: 58px;
  width: 58px;
}

.content .description .section_two .col1 .space_specification .icon .email, .content .description .section_two .col .space_specification .icon .email {
  height: 69px;
  width: 58px;
}

.content .description .section_two .col1 .space_specification .icon .to-do, .content .description .section_two .col .space_specification .icon .to-do {
  height: 58px;
  width: 58px;
}

.content .description .section_two .col1 .space_specification .icon .okr, .content .description .section_two .col .space_specification .icon .okr {
  height: 67px;
  width: 67px;
}

.content .description .section_two .col1 .space_specification .icon .meet, .content .description .section_two .col .space_specification .icon .meet {
  height: 60.69px;
  width: 76px;
}

.content .description .section_two .col1 .space_specification .icon h1, .content .description .section_two .col .space_specification .icon h1 {
  padding-left: 15px;
  font-size: 42.2px;
  color: black;
}

.content .description .section_two .col1 .space_specification p, .content .description .section_two .col .space_specification p {
  font-size: 23.38px;
  color: #585858;
}

.content .description .section_two .col1 .space_specification button, .content .description .section_two .col .space_specification button {
  height: 52px;
  width: 154px;
  background: black;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 17px;
}

.content .description .section_two .active {
  -webkit-box-shadow: 0px 3.1px 38.78px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3.1px 38.78px 0px rgba(0, 0, 0, 0.1);
}

.content .description .section_two .col1 {
  margin-right: 242px;
}

.content .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .pricing .curve {
  margin-top: 133px;
  margin-bottom: 110px;
}

.content .pricing .pricing-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .pricing .pricing-header h1 {
  font-size: 42px;
  font-weight: 500;
}

.content .pricing .pricing-header h2 {
  margin-top: 20px;
  font-size: 24px;
}

.content .pricing .pricing-body {
  width: 1267px;
  height: 552px;
  margin-top: 53px;
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
  padding: 70px 57px 80px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .pricing .pricing-body img {
  height: 300px;
  width: 150px;
}

.content .pricing .pricing-body .pricing-content {
  margin-left: 57px;
}

.content .pricing .pricing-body .pricing-content h3 {
  padding-left: 49px;
  font-size: 32px;
  font-weight: 400;
}

.content .pricing .pricing-body .pricing-content p {
  padding-left: 49px;
  font-size: 25px;
}

.content .pricing .pricing-body .pricing-content .free {
  margin-bottom: 53px;
}

.content .pricing .pricing-body .pricing-content .eleventh {
  padding-left: 60px;
}

.content .pricing .pricing-body .pricing-content .usd {
  margin-bottom: 35px;
}

.content .pricing .pricing-body .pricing-content .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 60px;
  width: 856px;
  height: 112px;
  background-color: #fff5c2;
}

.content .pricing .pricing-body .pricing-content mark {
  font-size: 45px;
  font-weight: 500;
  background-color: white;
}

.content .space-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1296.01px;
}

.content .space-features .row {
  height: 413px;
  width: 1396px;
}

.content .space-features .col, .content .space-features .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .space-features .col1 {
  width: 712px;
}

.content .space-features .integration_info, .content .space-features .secure_and_reliable_info {
  height: 164px;
  width: 603px;
}

.content .space-features .integration_info h2, .content .space-features .secure_and_reliable_info h2 {
  margin-bottom: 26px;
  font-size: 42px;
}

.content .space-features .integration_info p, .content .space-features .secure_and_reliable_info p {
  font-size: 24px;
}

.content .space-features .secure_and_reliable {
  height: 325.47px;
  width: 401.66px;
}

.content .space-trial {
  margin-top: 172.99px;
  height: 423px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .space-trial .row {
  width: 1504px;
  height: 423px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .space-trial .row .col1 {
  width: 676px;
  height: 294.35px;
}

.content .space-trial .row .col1 .info h2 {
  font-size: 42px;
}

.content .space-trial .row .col1 .info p {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 42px;
}

.content .space-trial .row .col1 .info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .space-trial .row .col1 .info .email input {
  color: #9d9d9d;
  border: 1px solid #333333;
  border-radius: 5px;
  height: 58px;
  width: 382px;
  padding-left: 16px;
  font-size: 20px;
}

.content .space-trial .row .col1 .info .email button {
  width: 262.74px;
  height: 59.35px;
  margin-left: 18px;
  background: black;
  color: white;
  font-size: 21px;
  border: none;
  border-radius: 8px;
}

.content .space-trial .row .col2 {
  width: 450.64px;
  height: 321.5px;
}

.content .footer {
  margin-top: 131px;
  height: 413px;
  width: 100%;
  background-color: #222222;
}

.content .footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 145px;
  padding-top: 80px;
}

.content .footer .row .col h1 {
  color: white;
  font-size: 16px;
  padding-left: 32px;
  margin-bottom: 35px;
}

.content .footer .row .col ul li {
  list-style: none;
  color: #999999;
}
/*# sourceMappingURL=style.css.map */