body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(26,28,33,255);
}
.row{
    background: rgba(26,28,33,255);
    height: 979px;
    width: 100%;
    display: flex;
    .col1{
        background: rgba(26,21,29,255);
        width: 25%;
        padding: 0px;
        padding-top: 20px;
        
        height: 100%;
        .navbar{
            margin-bottom: 20px;
            .title{
                margin-left: 40px;
                h1{
                    color: white;
                    font-size: 24px;
                }
            }
            .button{
                margin-right: 40px;
                button{
                    border: 0.5px solid grey;
                    background:rgba(26,21,29,255);
                    padding: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: white;
                    border-radius: 5px;

                }
            }
        }
        .search{ 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            margin-bottom: 10px;
            .search-text{
                background: #393541;
                display: flex;
                align-items: center;
                width: 85%;
                height: 100%;
                border-radius: 5px;
                padding-left: 20px;
                p{
                    padding-top: 12px;
                    color: gray;
                }
                .plus{
                    margin-left: 100px; 
                    height: 40px;
                    width: 40px;
                    background-color: black;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        color: white;
                        font-size: 36px;
                    }
                }
            }
        }
        .person{
            display: flex;
            align-items: center;
            padding-left: 40px;
            height: 92px;
            .image{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin-right: 20px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: white;
                    font-size: 40px;
                }
                .online{
                    height: 15px;
                    width: 15px;
                    background: orange;
                    border-radius: 50%;
                    margin-top: 45px;
                    margin-left: 45px;
                }
            }
            .info{
                color: white;
                .name{
                    font-size: 18px;
                }
                .desc{
                    font-size: 14px;
                    color: gray;
                }

            }
        }
        .active{
            background-color: #38343c;
            width: 100%;
        }
    }
    .col2{
        width: 75%;
        .navbar{
            margin-top: 20px;
            margin-left: 40px;
            
            .title{
                display: flex;
                .image{
                    width: 40px;
                    height: 40px;
                    background-color: white;
                    border-radius: 50%;
                }
                p{
                    margin-left:10px ;
                    margin-top: 10px;
                    color: white;
                    font-size: 18px;
                }
            }
            .close{
                margin-right: 20px;
                
                button{
                    border: 0.5px solid grey;
                    background:rgba(26,28,33,255);
                    padding: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
        .line{
            height: 0.2px;
            background-color: lightgray;

        }
        .chat{
            margin-left: 10px;
            position: fixed;
            bottom: 0;
            margin-bottom:120px ;
            
            .sender{
                display: flex;
                align-items: center;
                .image{
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    border-radius: 50%;
                    
                }
                .message{
                    margin-left: 20px;
                    .name{
                       color: white;
                       display: flex;
                       .time{
                           margin-left: 40px;
                           font-size: 14px;
                       }
                    }
                    .msg{
                        color: grey;
                        font-size: 14px;
                    }
                }
            }
        }
        .type{
            color: white;
            position: fixed;
            bottom: 0;
            .send-message{
                margin-left: 10px;
                padding-top: 10px;
                padding-left: 30px;
                border-radius: 5px;
                margin-bottom: 40px;
                border: 0.5px solid grey;
                width: 1400px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icons{
                    display: flex;
                    p{
                        margin-left: 10px;
                        margin-right: 10px;
                        padding-top: 5px;
                    }
                    button{
                        margin-right: 20px;
                        height: 30px;
                        background: transparent;
                        border: 0.2px solid grey;
                        border-radius: 2px;
                        color: white;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}